@model List<ProductoModel>
@{
    ViewData["Title"] = "TalyCap";
}

<div class="text-center">

    <div class="card">
        <div class="card-header">
            Producto mas Vendido
        </div>
        <div class="card-body">
            <a asp-action="ProductoMenosVendido" asp-controller="Home" class="btn btn-success"><i class="bi bi-plus-circle"></i> Ver Producto menos Vendido</a>
            <a asp-action="VentaProducto" asp-controller="Home" class="btn btn-success"><i class="bi bi-plus-circle"></i> Realizar Venta o Pedido</a>
            <a asp-action="Index" asp-controller="Home" class="btn btn-success"><i class="bi bi-plus-circle"></i>Ventas Totales</a><hr />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Nombre_Producto</td>
                            <td>@item.Stock</td>
                        </tr>

                    }
                </tbody>
            </table>

        </div>
    </div>
</div>